@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --primary-peach: 11 73% 66%;
    --primary-black: 270 3% 11%;
    --primary-white: 0 0% 100%;

 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-light-peach: 11 100% 80% ;
    --secondary-dark-grey: 264 5% 20%;
    --secondary-light-grey: 210 17% 95%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {

  .wrapper {
    @apply mx-auto w-full tablet:px-10 desktop:max-w-[69.375rem] desktop:px-0;
    
  }

  .heading-lg {
    @apply text-[2rem]/9 tablet:text-[3rem]/[3rem] font-medium;
  }

  .heading-md {
    @apply text-[1.75rem]/9 tracking-[1.4px] tablet:text-4xl/[3rem] font-medium tablet:tracking-[.125rem];
  }

  .heading-sm {
    @apply text-xl/[1.75rem] font-medium tracking-[0.3125rem];
  }

  .body-base {
    @apply text-base/[1.625rem] font-normal;
  }

  .link {
    @apply text-[0.9375rem] font-medium tracking-[5px]
  }

  .footer-link {
    @apply text-[0.875rem]/[0.875rem] font-normal tracking-[2px] uppercase
  }
}
