---
import Country from "./Country.astro";
---

<section
    class="px-6 tablet:px-0 flex flex-col gap-12 tablet:gap-20 desktop:flex-row desktop:justify-around desktop:items-center mb-[7.5rem] desktop:mb-40 relative"
>
    <Country heading="canada" variant="tertiary" />
    <Country heading="australia" variant="primary" />
    <Country heading="united kingdom" variant="secondary" />
</section>
