---
import { Image } from "astro:assets";


import AboutHeroDesktop from "@/assets/about/desktop/image-about-hero.jpg";

import AboutHeroTablet from "@/assets/about/tablet/image-about-hero.jpg";

import AboutHeroMobile from "@/assets/about/mobile/image-about-hero.jpg";
---


<div class="tablet:grid desktop:flex tablet:rounded-2xl overflow-hidden relative tablet:mb-[7.5rem] desktop:mb-40">
    <Image
        src={AboutHeroDesktop}
        alt={"Hero"}
        class="w-full hidden desktop:block desktop:h-[480px] desktop:w-[476px] desktop:object-cover"
    />

    <Image
        src={AboutHeroTablet}
        alt={"Hero"}
        class="w-full hidden tablet:block desktop:hidden"
    />

    <Image
        src={AboutHeroMobile}
        alt={"Hero"}
        class="w-full tablet:hidden"
    />


    <div class={"w-full px-6 min-h-[24.625rem] tablet:min-h-[20.375rem] desktop:min-h-[30rem] bg-primary-peach flex flex-col justify-center items-center  tablet:px-[3.625rem] tablet:gap-8 gap-6 desktop:order-[-1]  relative overflow-hidden desktop:items-start desktop:pl-24 desktop:pr-20"}>




        <svg class="overflow-visible  absolute bottom-[105px] -left-[120px] rotate-180 desktop:bottom-0 desktop:right-0 desktop:left-0 z-0" width="640" height="639" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="0%" y1="50%" x2="100%" y2="50%" id="a"><stop stop-color="#5D0202" stop-opacity="0" offset="0%"/><stop stop-color="#5D0202" stop-opacity=".498" offset="100%"/></linearGradient></defs><circle fill="url(#a)" transform="matrix(0 -1 -1 0 640 640)" cx="320" cy="320" r="320" fill-rule="evenodd" opacity=".309"/></svg>





        <h2 class="heading-lg text-primary-white z-[1]">About Us</h2>
        <p class="body-base text-primary-white text-center desktop:text-left z-[1]">
            Founded in 2010, we are a creative agency that produces lasting results for our clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our clients’ audiences.
        </p>
    </div>
</div>