---
import Countries from "@/components/About/Countries.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Contact/Header.astro";
import LayoutContact from "@/layouts/LayoutContact.astro";

---



<LayoutContact title="Contact">
    <main class="wrapper">
        <Header/>
        <Countries/>
    </main>

</LayoutContact>