---
import Layout from "../layouts/Layout.astro";
import HomeHero from "@/components/HomeHero.astro";
import HomeFeatures from "@/components/HomeFeatures.astro";
import HomeAbout from "@/components/HomeAbout.astro";
---

<Layout title="Designo">
	<main class="wrapper">
		<HomeHero />
		<HomeFeatures />
		<HomeAbout />
	</main>
</Layout>
