---
import { Image } from "astro:assets";
import IPassionate from "../assets/home/desktop/illustration-passionate.svg";
import IResourceful from "../assets/home/desktop/illustration-resourceful.svg";
import IFriendly from "../assets/home/desktop/illustration-friendly.svg";
const {heading, paragraph, variant} = Astro.props as {heading: "passionate" | "resourceful" | "friendly", paragraph: string, variant: "primary" | "secondary" | "tertiary"};

const titleToIllustration = {
    "passionate": IPassionate,
    "resourceful": IResourceful,
    "friendly": IFriendly
}

const variantMap = {
    "primary": "",
    "secondary": "-rotate-90",
    "tertiary": "rotate-90"
}
---



<div class="flex flex-col items-center text-center tablet:grid tablet:grid-cols-[202px_1fr] desktop:flex desktop:flex-col gap-12 tablet:text-left desktop:text-center">


        <div class="relative">

            <svg class={`absolute inset-0 z-[-1] ${variantMap[variant]}`} xmlns="http://www.w3.org/2000/svg" width="202" height="202"><defs><linearGradient id="a" x1="0%" x2="100%" y1="50%" y2="50%"><stop offset="0%" stop-color="#5D0202" stop-opacity="0"/><stop offset="100%" stop-color="#5D0202" stop-opacity=".498"/></linearGradient></defs><circle cx="101" cy="101" r="101" fill="url(#a)" fill-rule="evenodd" opacity=".203" transform="matrix(-1 0 0 1 202 0)"/></svg>


            <Image
                src={titleToIllustration[heading]}
                alt="illustration passionate"
            />
        </div>
    

    <div class="grid gap-8 tablet:gap-4 desktop:gap-8">
        <h4 class="heading-sm uppercase">{heading}</h4>
        <p class="body-base">{paragraph}</p>
    </div>
</div>