---
import { cn } from "@/lib/utils";
import { Button, buttonVariants } from "./ui/button";

---


<section class="px-6 tablet:px-0 relative z-[1]">
    <div class="card bg-[url('../assets/shared/desktop/bg-pattern-call-to-action.svg')] bg-[right_50%] bg-repeat-y bg-primary-peach flex flex-col desktop:flex-row items-center justify-between text-center px-6 tablet:px-14 py-16 tablet:py-14 desktop:py-[4.5rem] rounded-2xl gap-8 desktop:text-left ">
        <div class="flex flex-col items-center gap-4 tablet:w-[26.875rem] desktop:w-[460px] desktop:items-start">
            <h3 class="text-[2rem]/9 tablet:text-[2.5rem]/10 tablet:w-[20.9375rem] font-medium text-primary-white">Let’s talk about your project</h3>
            <p class="body-base text-primary-white">Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow.</p>
        </div>
    
        <a href="/contact" class={cn(buttonVariants({
            variant: "dark"
        }))}>get in touch</a>
    </div>


</section>