---
import AboutCard from "./AboutCard.astro";

---



<section class="px-6 tablet:px-0 flex flex-col gap-20 tablet:gap-8 desktop:flex-row desktop:gap-[1.875rem] desktop:items-center py-[7.5rem] desktop:py-40 relative">

    <svg class="hidden xdesktop:block xdesktop:absolute inset-0 rotate-180 z-[-1] translate-y-[284px] translate-x-[225px]" width="1006" height="594" xmlns="http://www.w3.org/2000/svg"><path d="M297 0h412c164.029 0 297 132.971 297 297S873.029 594 709 594H0V297C0 132.971 132.971 0 297 0z" fill="#F1F3F5" fill-rule="evenodd" opacity=".502"/></svg>

    <AboutCard heading="passionate" variant="primary" paragraph="Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions."/>

    <AboutCard heading="resourceful" variant="secondary" paragraph="Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs."/>


    <AboutCard heading="friendly" variant="tertiary" paragraph="We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide."/>

</section>