---
import MapCard from "./MapCard.astro";

---
<section class={"flex  flex-col gap-6 justify-center items-center h-[20rem]  px-6 tablet:px-36 tablet:h-[15.75rem] tablet:rounded-[1rem] desktop:px-24 w-full  relative overflow-hidden"}>
    <MapCard/>

</section>
